.containerFonts {
  font-family: 'Roboto', sans-serif;
}

.my-slider {
  margin: 0 auto;
  width: 80%;
}

.my-slider .tns-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #ccc;
}

.glightbox .gdesc {
  background-color: rgba(0, 0, 0, 0.7);  /* Dark background for descriptions */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.glightbox .gdesc.top {
  top: 0;
}

.glightbox .gdesc.bottom {
  bottom: 0;
}

.glightbox .gdesc.left,
.glightbox .gdesc.right {
  position: absolute;
  padding: 20px;
}
.glightbox .gdesc {
  background-color: rgba(0, 0, 0, 0.7);  /* Dark background for descriptions */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.glightbox .gdesc.top {
  top: 0;
}

.glightbox .gdesc.bottom {
  bottom: 0;
}
.modal-content {
  background-color: #fff0 !important; 
   color: #fff !important;
}

/* Custom backdrop style */
.modal-backdrop {
  background-color: #000000f7 !important;
    opacity: 0.95 !important;
}

.btn-close{
  position: relative;
  color: #fff !important;
background-color: #fff !important;
opacity: 1 !important;
}
.me{
  /* margin-left: 135% !important; */
}

.modal-header {

  /* padding: 0 !important; */
  border-bottom: none !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
}

/* CSS to ensure the modal is not draggable */
.modal-dialog {
  user-select: none !important;
  pointer-events: auto !important; /* Ensure it's not blocking interaction */
  touch-action: none !important;   /* Prevent touch events that might cause dragging */
  -webkit-user-drag: none !important; /* Disable dragging in WebKit browsers */
  -moz-user-drag: none !important;    /* Disable dragging in Firefox */
}


/* UncontrolledExample.css */

.carousel-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px; /* Optional, just for spacing */
}

.carousel-progress-bar {
  position: absolute;
  top: 1;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f0f0f022; /* Light background for the progress bar */
  border-radius: 2px;
  overflow: hidden;
  z-index: 1;
}

.progress-bar-fill {
  height: 100%;
  background-color: white; /* Blue color for the progress */
  transition: width 0.3s ease;
}

.carousel-indicators {
  display: none; /* Hide default indicators */
}

.modal-body-px{
  padding: 0px !important;
}


.custom-image {
  max-width: 800px;
  max-height: 850px;
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  width: 100%;         /* Set width to 100% to scale down the image */
  height: auto;        /* Adjust height proportionally */
}

.stories.carousel {
  white-space: nowrap;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.stories-square.stories.carousel .story {
  border-radius: 0;
  height: 150px !important;
  position: relative;
  width: 120px !important;
  max-width: inherit !important;
  margin-bottom: 4px;
}
.stories .story.seen {
  opacity: 0.5; 
}
.stories.carousel .story:first-child {
  margin-left: 0;
}
.stories.carousel {
  white-space: nowrap;
}
.mbn-9 {
  margin-bottom: -9px !important;
}