.containerFonts {
  font-family: 'Roboto', sans-serif;
}

.my-slider {
  margin: 0 auto;
  width: 80%;
}

.my-slider .tns-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #ccc;
}

.glightbox .gdesc {
  background-color: rgba(0, 0, 0, 0.7);  /* Dark background for descriptions */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.glightbox .gdesc.top {
  top: 0;
}

.glightbox .gdesc.bottom {
  bottom: 0;
}

.glightbox .gdesc.left,
.glightbox .gdesc.right {
  position: absolute;
  padding: 20px;
}
.glightbox .gdesc {
  background-color: rgba(0, 0, 0, 0.7);  /* Dark background for descriptions */
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.glightbox .gdesc.top {
  top: 0;
}

.glightbox .gdesc.bottom {
  bottom: 0;
}
.modal-content {
  background-color: #fff0 !important; 
   color: #fff !important;
}

/* Custom backdrop style */
.modal-backdrop {
  background-color: #000000f7 !important;
    opacity: 0.95 !important;
}

.btn-close{
  position: relative;
  color: #fff !important;
background-color: #fff !important;
opacity: 1 !important;
}
.me{
  /* margin-left: 135% !important; */
}

.modal-header {

  /* padding: 0 !important; */
  border-bottom: none !important;
  border-top-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
}

/* CSS to ensure the modal is not draggable */
.modal-dialog {
  user-select: none !important;
  pointer-events: auto !important; /* Ensure it's not blocking interaction */
  touch-action: none !important;   /* Prevent touch events that might cause dragging */
  -webkit-user-drag: none !important; /* Disable dragging in WebKit browsers */
  -moz-user-drag: none !important;    /* Disable dragging in Firefox */
}
